@charset "UTF8";

body {
    height: 100vh;
    /*background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    
     shorthand background
    color , image, position, repeat, attachment

    
    */
    background: black url(imagens/wallpaper002.jpg) center top no-repeat fixed ;
    background-size: cover;
    
}
main {
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
}