@charset "UTF-8";


/* Todas as Medias Queries
Pequenas telas: Até 600px
celualar: até 600px até 768 ppx
Tablet:768px até 992px
Desktop:992px até 1200px
Grandes telas: acima de 1200px


*/



@media print {
    body{
        background: url(../imagens/back-print.jpg); /* desnessesario, pois não se imprime imagem de backround*/
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
    main{
        border: 1px solid black;
        text-align: center;
    }

    main h1{
        text-shadow: none;
        color: black;

    }
    main::after{
        content: 'Essa impressão foi feita pelo Prog.Santos';
        text-decoration: underline;
        
    }
    
}
@media screen and (min-width:768px) and (max-width:992px)  {
    /*Versão para Tablet*/
    body{
        background: url(../imagens/back-tablet.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: block;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
    
}
@media screen and (min-width:992px) and (max-width:1200px) {
    /*Versão para computadores Desktop*/

    body{
        background: url(../imagens/back-pc.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: block;}
    img#tv{display: none;}
    
    
}
@media screen and (min-width:1200px) {
    /*Versão para Telas grandes TV*/
    body{
        background: url(../imagens/back-tv.jpg);
    }
    img#phone{display: none;}
    img#tablet{display: none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
    
}