@charset "UTF-8";
* {
    margin: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color:#233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #1526a7;
    padding: 10px;
    text-align: center;
}

/* media para aparelho em modo retrato, em pé*/

@media screen and (orientation: portrait) {
    body{

        background-image: url(../MQ003/imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
    
}

/* media para aparelhos em modo paisagem na horizontal, deitado*/

@media screen and (orientation: landscape) {
    body{
        background-image: url(../MQ003/imagens/cev-landscape.jpg);
        background-position: left bottom;
        
    }
    
}